[submodule "reveal.js"]
	path = reveal.js
	url = https://github.com/hakimel/reveal.js
[submodule "plugins/reveal.js-simplemenu"]
	path = plugins/reveal.js-simplemenu
	url = https://github.com/Martinomagnifico/reveal.js-simplemenu
